<%- include("./includes/header") %>
<a id="upload-link" href="/admin/addcatergory" class="btn btn-primary">Add Category</a>

<div class="category-table">
    <form action="/admin/updatecategory" method="post">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% categorylist.forEach(category => { %>
            <tr>
              <td>
                <input type="text" class="form-control" name="category_<%= category._id %>" value="<%= category.name %>" placeholder="Enter category name" required readonly onkeyup="validateInput(this.value)">
              </td>
              <td>
                <a class="btn btn-primary" href="/admin/editcategoryname?categoryId=<%= category._id %>&categoryName=<%= category.name %>">Edit</a>
              </td>
              <td>
                <a class="btn btn-danger" href="javascript:void(0);" onclick="confirmDelete('<%= category._id %>')">Delete</a>

              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </form>
  </div>



  
    <script>
  function confirmDelete(categoryId) {
    Swal.fire({
      title: 'Delete Category',
      text: 'Are you sure you want to delete this category?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, delete it!',
      cancelButtonText: 'No, keep it'
    }).then((result) => {
      if (result.isConfirmed) {
        // User confirmed, proceed with the deletion by following the URL
        window.location.href = `/admin/deletecategory?categoryId=${categoryId}`;
      }
    });
  }
</script>

<%- include("./includes/footer") %>