<%- include("./includes/header") %>

<h2 class="font-weight-bold">Edit Category</h2>


<form action="/admin/updatecategoryname" method="post" onsubmit="return validateForm()">
    <div class="mb-3 m-2">
      <input type="hidden" name="id" value="<%= categoryId %>">
      <label for="categoryName" class="form-label">Category Name</label>
      <input type="text" class="form-control" id="categoryNameff" value="<%= categoryName %>" name="categoryname" placeholder="Enter category name"  >
      <div id="errorlog" class="text-danger" style="font-size: 10px;"></div>
    </div>
    <button id="submitbtn" type="submit" class="btn btn-primary m-2">Save</button>
  </form>

  <% if (typeof message!== "undefined") { %> 
				
    <p style="color: rgb(3, 61, 3);"><%= message %></p>
 <% } %> 





 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 <script>
	function validateForm() {
   
	  var categoryname = document.getElementById("categoryNameff").value;
	 
	  
	 
	  
	  if (categoryname == "" || categoryname.trim() === "") {  
    
		Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'Category Name Cant be Blank! Please type valid Input',
  
})

		
		return false;  
	  } 
	  
	 
	  return true; // Form submission will proceed
	}
	</script>

<%- include("./includes/footer") %>