<%- include("./includes/header") %>
<style>
	#sectionbox{

		margin: 45px !important;
	}
</style>

<section id="sectionbox">

    <div class="row">
      <div class="col-md-8">
        <div class="card mb-4">


          
        </div>
        

        <a href="/newcheckaddresspage?totalamount=<%= grandTotal %>&couponprice=<%= couponprice %>">
          <button class="btn btn-primary mb-3">Add New Address</button>
        </a>
        <% if (typeof message !== "undefined") { %>
          <p style="color: rgb(228, 21, 21)"><%= message %></p>
        <% } %>
        <div class="card mb-4">
          <div class="card-body">
            <p class="text-uppercase fw-bold mb-3 text-font">Default Address</p>
            <div class="row">
              <div class="col-md-4">
                <% if (!defaultAddress || !defaultAddress.name || !defaultAddress.address) { %>
                  <p id="address">Not Defined</p>
                <% } else { %>
                  <p id="address"><%= defaultAddress.name %>, <%= defaultAddress.address %>, <%= defaultAddress.city %>, <%= defaultAddress.postalCode %>,</p>
                <% } %>
              </div>
              <div class="col-md-7">
                <% if (defaultAddress && defaultAddress.name && defaultAddress.address) { %>
                  <a href="/editdefaltchekaddress?productdata=<%= allCartProducts %>&couponprice=<%= couponprice %>">
                    <button id="editButton" type="button" class="btn btn-outline-dark float-end button-color" data-mdb-ripple-color="dark">
                      Edit
                    </button>
                  </a>
                <% } %>
              </div>
            </div>
          </div>   
        </div>

        
        <div class="card mb-4">
  <div class="card-body">
    <p class="text-uppercase fw-bold mb-3 text-font">Delivery Addresses</p>
    <% if (!allUserAddresses || allUserAddresses.length === 0) { %>
      <p>Not Address</p>
    <% } else { %>
      <% allUserAddresses.forEach(address => { %>
        <div class="row mb-2">
          <div class="col-md-4">
            <p><%= address.name %>, <%= address.address %>, <%= address.postalCode %>, <%= address.phonenumber %></p>
          </div>
          <div class="col-md-7">
            <input type="radio" class="btn btn-outline-dark float-end button-color"
              data-mdb-ripple-color="dark"
              data-address-id="<%= address._id %>">
          </div>
        </div>
      <% }); %>
    <% } %>
  </div>
</div>
        
        





      </div>
      <div class="col-md-4 mb-4 position-static">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0 text-font"> total items <span class="float-end mt-1"
                style="font-size: 13px ;"></span></h5>
          </div>
          <div class="card-body">



			<div class="row" style="display: flex; align-items: center;">
				<% for (const cartItem of allCartProducts) { %>
				  <div class="col-md-4">
					<img src="/publicimage/<%= cartItem.image %>" class="rounded-3 mt-1" style="width: 50px; height: 50px;" alt="<%= cartItem.name %>" /><br>
				  </div>
				  <div class="col-md-6 ms-3" style="display: flex; flex-direction: row; align-items: center;">
					<span class="mb-0 text-price" style="margin-right: 10px; font-size: small;"><%= cartItem.model %>/-</span>
					<p class="mb-0 text-descriptions" style="margin-right: 10px;"><%= cartItem.price %></p>
					<p class="text-descriptions mb-0" style="margin-right: 10px;">Qty:<span class="text-descriptions fw-bold"><%= cartItem.quantity %></span></p>
				  </div>
				<% } %>
			  </div>




            <div class="card-footer mt-4">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-muted">
                  Subtotal
                  <span><%= grandTotal %>/-</span>
                </li>
                <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 text-muted">
                Discount
                <span><%= couponprice %>/-</span>
              </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center px-0 fw-bold text-uppercase">
                  Total to pay
                  <span><%= grandTotal %>/-</span>
                </li>
              </ul>
            </div>


          </div>
        </div>
      </div>

    

        </div>
       
          <div class="text-center">
            <a href="/checkpaymentmethod?discount=<%= couponprice %>&total=<%= grandTotal %>">

              <button type="button" class="btn btn-success col-md-10">Continue</button>
            </a>
          </div>
          

      </div>






    </div>

  </section>



  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const setDefaultButtons = document.querySelectorAll(".btn-outline-dark");
  
      setDefaultButtons.forEach(button => {
        button.addEventListener("click", function() {
          const addressId = button.getAttribute("data-address-id");
          setDefaultAddress(addressId);
        });
      });
  
      function setDefaultAddress(addressId) {
        // Make an AJAX request to the backend with the addressId
        fetch(`/setdefaltaddress?addressId=${addressId}`, {
          method: "get",
        })
        .then(response => response.json())
        .then(data => {
          // Update the default address element with the new address information
          const defaultAddressElement = document.getElementById("address");
          defaultAddressElement.textContent = `${data.newDefaultAddress.name}, ${data.newDefaultAddress.address}, ${data.newDefaultAddress.postalCode}, ${data.newDefaultAddress.phonenumber}`;
          window.Location.reload();
        })
        .catch(error => {
          console.error("Error:", error);
        });
      }
    });
  </script>

<%- include("./includes/footer") %>