<%- include("./includes/header") %>



<div class="row mt-3 mx-3" style="margin-top:25px ;">
	<div class="col-md-3">
	  <div style="margin-top: 50px; margin-left: 10px;" class="text-center">
		<img style="width: 350px; height: 300px;" src="https://static.vecteezy.com/system/resources/previews/001/265/731/original/map-with-location-pin-vector.jpg">
	  </div>
	  <div class="text-center">
		
	  </div>
  
  
	</div>
	<div class="col-md-9 justify-content-center">
	  <div class="card card-custom pb-4">
		<div class="card-body mt-0 mx-5">
		  <div class="text-center mb-3 pb-2 mt-3">
			<h4 style="color: #495057 ;">Edit Address</h4>
		  </div>
  
		  <form action="/uploadaddress" method="post" class="mb-0" onsubmit="return validateForm()">
			<div class="row mb-4">
			  <div class="col">
				<div class="form-outline">
				  <input type="text" id="nameInput" name="name" value="<%= addressToEdit.name %>" class="form-control input-custom" />
				  <label class="form-label" for="nameInput"></label>
				</div>
			  </div>
			  <div class="col">
				<div class="form-outline">
				  <input type="email" id="emailInput" name="email" value="<%= addressToEdit.email %>" class="form-control input-custom"  />
				  <label class="form-label" for="emailInput"></label>
				</div>
			  </div>
			</div>
			<div class="row mb-4">
			  <div class="col">
				<div class="form-outline">
				  <input type="text" id="addressInput" name="address" value="<%= addressToEdit.address %>" class="form-control input-custom"  />
				  <label class="form-label" for="addressInput">Address</label>
				</div>
			  </div>
			  <div class="col">
				
			  </div>
			</div>
			<div class="row mb-4">
			  <div class="col">
				<div class="form-outline">
				  <input type="text" id="cityInput" name="city" value="<%= addressToEdit.city %>" class="form-control input-custom"  />
				  <label class="form-label" for="cityInput">City</label>
				</div>
			  </div>
			  <div class="col">
				<div class="form-outline">
				  <input type="text" id="phoneNumberInput" name="phoneNumber" value="<%= addressToEdit.phonenumber %>" class="form-control input-custom"  />
				  <label class="form-label" for="phoneNumberInput">Phone Number</label>
				</div>
			  </div>
			  <div class="col">
				<div class="form-outline">
				  <input type="text" id="postalCodeInput" name="postalCode" value="<%= addressToEdit.postalCode %>" class="form-control input-custom"  />
				  <label class="form-label" for="postalCodeInput">Pin Code</label>
				</div>
			  </div>
			</div>
			
			<div id="error-message" style="color: red;"></div>
			
			<div class="float-end">
			  <input type="hidden" value="<%= addressToEdit._id %>" name="addressid">
			  <button type="submit" class="btn btn-primary btn-rounded" style="background-color: #0062CC;">Upload</button>
			</div>
		  </form>
		</div>
	  </div>
	</div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
	function validateForm() {
	  var name = document.getElementById("nameInput").value;
	  var email = document.getElementById("emailInput").value;
	  var address = document.getElementById("addressInput").value;
	  var city = document.getElementById("cityInput").value;
	  var phoneNumber = document.getElementById("phoneNumberInput").value;
	  var postalCode = document.getElementById("postalCodeInput").value;
	  var error = document.getElementById("error-message");
	
	  var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
	
	  if (name.trim() === "") {
		Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: "Name can't be blank",
  
})
		
		return false;
	  } else if (email.trim() === "") {
		Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: "Email can't be blank",
  
})
		return false;
	  } else if (!emailRegex.test(email)) {
		Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: "Invalid email address",
  
})
		return false;
	  } else if (address.trim() === "") {
		Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: "Address can't be blank",
  
})
		return false;
	  } else if (city.trim() === "") {
		Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: "City can't be blank",
  
})
		return false;
	  } else if (phoneNumber.trim() === "") {
		Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: "Phone number can't be blank",
  
})
		
		return false;
	  } else if (phoneNumber.length !== 10) {
		Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: "Phone number must be 10 digits",
  
})
		return false;
	  } else if (postalCode.trim() === "") {
		Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: "Pin  Code cant be blank",
  
})
		return false;
	  }
	
	  error.innerHTML = ""; // Clear error message if all checks pass
	  return true; // Form submission will proceed
	}
	</script>
  <%- include("./includes/footer") %>