<%- include("./includes/header") %>

<div class="breadcrumb-option">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__links">
                  <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                  <span>Wishlists</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="shop__cart__table">
                  <table>
                      <thead>
                          <tr>
                              <th>Product</th>
                              <th> Unit Price</th>
                              <th> Stock status</th>
                             
                              
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>


                        <% cartproducts.forEach(product => { %>
                          <tr>
                              <td class="cart__product__item">
                                  <img src="img/shop-cart/cp-1.jpg" alt="">
                                  <div class="cart__product__item__title">
                                    <h6>
                                      <a href="/productdetailpage?model=<%= encodeURIComponent(product.model) %>"><%= product.model %></a>
                                  </h6>
                                      <div class="rating">
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                          <i class="fa fa-star"></i>
                                      </div>
                                  </div>
                              </td>
                              <td class="cart__price"><%= product.price %></td>
                              <td class="cart__quantity">
                                  
                                      <span style="color: green;">instock</span>
                                  </div>
                              </td>
                              <td>
                                <a href="#">
                                  <button class="btn btn-warning">Add to Cart</button>
                                </a>
                              </td>
                              <td class="cart__close">
                                <a href="/removewhishlist?model=<%= encodeURIComponent(product.model) %>" class="remove-product">
                                    <span class="icon_close"></span>
                                </a>
                            </td>
                          </tr>

                          <% }) %>                         
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      </div>
  </div>
</section>
<!-- Shop Cart Section End -->





<%- include("./includes/footer") %>